ol {
  background-color:  yellow;
}
ol li:nth-child(odd) {
    color: green;
}
ol li:nth-child(even){
    text-transform:uppercase ;
}
h1, h3{
    color: red;
}
 h1, h3 em{
     font-size: 40px;
     border: 1px solid black;
 }
li {
    font-size: 20px;  
}
li em{
   font-weight: bold;
}
dev ul li:nth-of-type(-n+3){
    color: blue;
}
span{
    color: pink;
}


